{% extends 'main/layout.html' %}

{% block title %}Закупка{% endblock %}
{% block content %}
    <div class="feauters">
        <h1>Закупочки</h1>
        <a href="{% url 'create_purchase' %}" class="btn btn-info"><i class="fas fa-plus-circle"></i> Добавить запись</a>
        {% if purchase %}
            {% for i in purchase %}
                <div class="alert alert-warning">
                    <p><strong>Читатель: </strong>{{ i.reader }}</p>
                    <p><strong>Книга: </strong>{{ i.need_book }}</p>
                    <a href="{% url 'purchase-detail' i.id %}" class="btn btn-warning">Подробнее...</a>
                </div>
            {% endfor %}
        {% else %}
            <h1><strong>Никому ничего не надо, пока...</strong></h1>
        {% endif %}
    </div>
{% endblock %}