{% extends 'main/layout.html' %}

{% block title %}Читатели{% endblock %}
{% block content %}
    <div class="feauters">
        <h1>Книговорот в природе</h1>
        <a href="{% url 'create_readers' %}" class="btn btn-info"><i class="fas fa-plus-circle"></i> Добавить запись</a>
        {% if readers %}
            {% for history in readers %}
                {% if history.operation == 'Принять' %}
                    <div class="alert alert-success">
                        <p><strong>Читатель: </strong>{{ history.reader }}</p>
                        <p><strong>Операция: </strong>{{ history.operation }}</p>
                        <strong>Список книг:</strong>
                        <ol>
                            {% for book in history.book_list.split %}
                                <li>{{ book }}</li>
                            {% endfor%}
                        </ol>
                        <p><strong>Дата: </strong>{{ history.date }}</p>
                        <a href="{% url 'readers-detail' history.id %}" class="btn btn-warning">Подробнее...</a>
                {% else %}
                    <div class="alert alert-warning">
                        <p><strong>Читатель: </strong>{{ history.reader }}</p>
                        <p><strong>Операция: </strong>{{ history.operation }}</p>
                        <strong>Список книг:</strong>
                        <ol>
                            {% for book in history.book_list.split %}
                                <li>{{ book }}</li>
                            {% endfor%}
                        </ol>
                        <p><strong>Дата: </strong>{{ history.date }}</p>
                        <a href="{% url 'readers-detail' history.id %}" class="btn btn-warning">Подробнее...</a>
                    </div>
                {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-light">
                Нет активных заявок.
            </div>
        {% endif %}
    </div>
{% endblock %}