{% extends 'main/layout.html' %}

{% block title %}Читатели{% endblock %}

{% block content %}
    <div class="feauters">
        <h1>Книговорот в природе</h1>
        {% if readers %}
            {% for history in readers %}
                <div class="alert alert-warning">
                    <h3>{{ history.reader }}</h3>
                    <p>{{ history.operation }}</p>
                    <p>{{ history.book_list }}</p>
                    <p>{{ history.date }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>История чиста!</p>
        {% endif %}
    </div>
{% endblock %}