{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="feauters">
        <h1>{{ title }}</h1>
        <h2>Как я вижу проект:</h2>
        <p>1. Должна быть первая страница с общей информацией, зачем создается проект;</p>
        <p>2. Должна быть кнопка для перехода на страницу, где будут отражены читатели и выданные/взятые ими книги;</p>
        <p>3. Должна быть кнопка для перехода на страницу, где будут отображены книги, которые нужно закупить и кто просил это сделать;</p>
        <p>4. Кнопки добавления пункта 2 и 3 возможно будут сразу же на первой странице или на соответствующих страницах.</p>
        <button class="btn btn-primary">{% filter upper %}Выдача / возврат книг{% endfilter %}</button>
        <button class="btn btn-primary">{% filter upper %}Заявка на закупку{% endfilter %}</button>
    </div>
{% endblock %}