{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features text-center">
        <h1 class="mb-4"><strong>Команда ОСП Библиотека № 171</strong></h1>

        <!-- Картинка (уже центрирована) -->
        <div class="mb-4">  <!-- Отступ снизу -->
            <img src="{% static 'main/img/team.jpg' %}"
                 alt="команда"
                 class="img-fluid rounded mx-auto d-block"
                 style="max-height: 400px;">
        </div>

        <!-- Текст -->
        <div class="col-md-8 mx-auto">  <!-- Ограничиваем ширину и центрируем -->
            <p class="lead">Просто скажу всем Вам "СПАСИБО!"</p>
        </div>
    </div>
{% endblock %}