body {
    background: #f9f7f7;
}

aside {
    float: left;
    background: #7a539b;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #d3d559;
    border-right: 5px solid #544c84;
}

aside img {
    width: 210px;
    float: left;
    margin-bottom: 20px;
}

aside .logo {
    font-size: 23px;
    text-align: center;
    font-weight: bold;
    position: relative;
}

aside h3 {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin-top: 30px;
}

aside a, aside ul li a {
    color: #d3d559;
    text-decoration: none !important;
    display: block;
    font-size: 18px;
    transition: transform 0.5s ease;
}

aside a:hover, aside ul li a:hover {
    color: #019FFD;
    transform: scale(1.20);
}

main .feauters {
    float: left;
    color: #544c84;
    margin-top: 20px;
    text-align: center;
    width: 75%;
}

main .feauters h1 {
    font-size: 50px;
}

main .feauters p {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}